{% extends "base.html" %}

{% block head %}
    O aplikacji
{% endblock head %}

{% block content %}
    <h1>O Psinder</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla consequat, nisl mollis convallis tincidunt, magna
        dolor pretium est, a pulvinar urna est nec nunc. Aenean lobortis, elit et feugiat bibendum, sapien magna
        porttitor purus, eu commodo lectus elit id libero. Morbi vehicula elit sit amet elit rutrum ullamcorper. Class
        aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nullam posuere risus nec
        consequat commodo. Nunc sed fringilla turpis. Mauris at quam non eros porttitor egestas ut ac dolor.
    </p>
    <p>
        Sed eget tellus felis. Maecenas volutpat quam ac urna venenatis, a vehicula lectus scelerisque. Pellentesque
        lobortis dignissim enim, vel venenatis lacus. Sed suscipit lacinia ipsum, non varius magna. Praesent lacus odio,
        porttitor sit amet dictum ut, placerat scelerisque enim. Vestibulum eleifend ipsum arcu, nec pharetra est
        placerat vitae. In sed sem egestas, placerat nibh at, tincidunt ex. Aliquam gravida tristique rutrum. Integer
        malesuada tellus et sollicitudin euismod. Ut viverra dui mi, at tempor libero rutrum in. In dignissim, nisi quis
        pellentesque vestibulum, magna nisl tempor velit, eget faucibus ante turpis sit amet sem.
    </p>
    <p>
        Nulla sapien turpis, pretium non suscipit at, consequat et metus. Morbi consequat tellus nibh. Quisque suscipit
        ipsum aliquam, egestas metus eget, ornare tellus. Aenean euismod, nulla in luctus porta, dolor lorem tincidunt
        nisi, nec euismod libero felis suscipit lectus. Quisque dictum magna erat, convallis porta erat hendrerit non.
        Ut auctor est non velit semper facilisis. Mauris id enim rhoncus, tristique nunc sed, sodales dolor. Nunc
        efficitur ligula eu felis pharetra tempor. Sed sagittis convallis cursus. Morbi ornare at magna a euismod. Nulla
        euismod ipsum quis commodo vulputate. In hac habitasse platea dictumst.

    </p>
{% endblock content %}