{% extends "base.html" %}
{% load static %}

{% block head %}
    Mój profil
{% endblock head %}

{% block content %}
    <nav>
        <ul>
            <li>
                <a href="{% url "dashboard" %}">Mój profil</a>
            </li>
            <li>
                <a href="">Moje psy</a>
            </li>
            <li>
                <a href="">Centrum wiadomości</a>
            </li>
            <li>
                <a href="">Spotkania</a>
            </li>
            <li>
                <a href="">Opieka</a>
            </li>
            <li>
                <a href="{% url "settings" user.pk %}">Ustawienia profilu</a>
            </li>
        </ul>
    </nav>
    <img src="{{ user.photo.url }}" width="200" alt="Zdjęcie profilowe">
    <h3>{{ user.username }}</h3>
    <p>{{ user.first_name }} {{ user.last_name }}</p>
    <p>Użytkownik od: {{ user.date_joined }}</p>
    <h3>Nadchodzące spotkania</h3>
    <h3>Nadchodząca opieka</h3>
{% endblock content %}