{% extends "base.html" %}
{% load static %}

{% block head %}
    Mój profil
{% endblock head %}

{% block content %}
    <section class="w-100">
        <div class="container py-2 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col col-lg-12 col-xl-10">
                    <div class="card">
                        <div class="rounded-top text-white d-flex flex-row"
                             style="background:linear-gradient(90deg, rgba(253, 88, 88, 1) 0%, rgba(247, 122, 67, 0.85) 100%); height:200px;">
                            <div class="ms-4 mt-5 d-flex flex-column" style="width: 150px;">
                                <img src="{{ user.photo.url }}"
                                     alt="Zdjęcie profilowe" class="img-fluid img-thumbnail mt-4 mb-2"
                                     style="width: 150px; z-index: 1">

                                <a href="{% url "settings" user.pk %}" style="z-index: 1;">
                                    <button type="button" class="btn btn-psinder">
                                        Edytuj profil
                                    </button>
                                </a>
                            </div>
                            <div class="ms-3" style="margin-top: 100px;">
                                <h3>{{ user.username }} ({{ user.first_name }} {{ user.last_name }})</h3>
                                <p>{{ user.address.city }}</p>
                            </div>
                        </div>
                        <div class="p-4 text-black" style="background-color: #f8f9fa;">
                            <div class="d-flex justify-content-end text-center py-1">
                                <div>
                                    <p class="mb-1 h5">{{ user.date_joined|date:"SHORT_DATE_FORMAT" }}</p>
                                    <p class="small text-muted mb-0">Data rejestracji</p>
                                </div>
                                <div class="px-3">
                                    <p class="mb-1 h5">{{ user.get_user_dogs.count }}</p>
                                    <p class="small text-muted mb-0">Piesków</p>
                                </div>
                                <div>
                                    <p class="mb-1 h5">{{ user.get_user_meetings.count }}</p>
                                    <p class="small text-muted mb-0">Spotkań</p>
                                </div>
                            </div>
                        </div>
                        <div class="card-body p-4 text-black">
                            <div class="mb-5">
                                <p class="lead fw-normal mb-1">{{ user.username }} o sobie:</p>
                                <div class="p-4" style="background-color: #f8f9fa;">
                                    <p class="font-italic mb-1">{{ user.bio }}</p>
                                </div>
                            </div>
                            <div class="d-flex justify-content-between align-items-center mb-4">
                                <p class="lead fw-normal mb-0">Moje pieski</p>
                                <p class="mb-0"><a href="#" class="text-muted">Pokaż wszystkie</a></p>
                            </div>
                            {% for dog in user.get_user_dogs %}
                                <div class="row g-2">
                                    <div class="col mb-2">
                                        <a href="{% url "dog-profile" dog.pk %}">
                                            <img src="{{ dog.photo.url }}" alt="image 1" class="w-100 rounded-3">
                                        </a>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}