{% extends "base.html" %}
{% load static %}

{% block head %}
    Strona główna
{% endblock head %}

{% block content %}
    <div class="container">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">

        <div class="carousel-inner">
            <div class="carousel-item active">
                <h3>Dołącz do grona {{ user_profiles_count }} użytkowników...</h3>
                <img src="{% static "logo.svg" %}" class="d-block w-100" alt="...">
            </div>

            <div class="carousel-item">
                <h3>...i {{ dog_profiles_count }} psiaków!</h3>
                <img src="{% static "logo.svg" %}" class="d-block w-100" alt="...">
            </div>

            <div class="carousel-item">
                <h3>Zarejestruj się już dziś!</h3>
                <img src="{% static "logo.svg" %}" class="d-block w-100" alt="...">
            </div>

        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    </div>
{% endblock content %}