{% extends "base.html" %}
{% load static %}

{% block head %}
    Strona główna
{% endblock head %}

{% block content %}
    <div class="container">
        <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active"
                        aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active" style="background-image: url({% static "dog-walk-slide-1.jpg" %});">
                    <div class="container">
                        <div class="carousel-caption text-start">
                            <h1>Dołącz do społeczności Psinder'a</h1>
                            <p>Poznaj {{ user_profiles_count }} użytkowników w serwisie</p>
                            <p><a class="btn btn-lg btn-primary" href="{% url "register" %}">Zarejestruj się</a></p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item" style="background-image: url({% static "dog-walk-slide-2.jpg" %});">
                    <div class="container">
                        <div class="carousel-caption">
                            <h1>Kochasz pieski?</h1>
                            <p>Już {{ dog_profiles_count }} psów czeka na spacer</p>
                            <p><a class="btn btn-lg btn-primary" href="{% url "meetings" %}">Umów się</a></p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item" style="background-image: url({% static "dog-walk-slide-3.jpg" %});">
                    <div class="container">
                        <div class="carousel-caption text-end">
                            <h1>Zaopiekuj się psem</h1>
                            <p>Ludzie wyjeżdzają, a pieskiem nie ma się kto zająć...</p>
                            <p><a class="btn btn-lg btn-primary" href="#">Opieka nad psem</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <!-- Marketing messaging and featurettes
        ================================================== -->
        <!-- Wrap the rest of the page in another container to center all the content. -->

        <div class="container marketing">


            <!-- START THE FEATURETTES -->

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading fw-normal lh-1">Poznawaj nowe osoby! <span class="text-muted">Spędzaj czas ze swoim psiakiem.</span>
                    </h2>
                    <p class="lead">Dzięki Psinder poznasz nowe osoby w Twojej okolicy. Umów się na wspólny spacer z waszymi psiakami już dziś. </p>
                </div>
                <div class="col-md-5">
                    <!-- SVG PLACEHOLDER
                    <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                         height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500"
                         preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title>
                        <rect width="100%" height="100%" fill="#eee"/>
                        <text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text>
                    </svg> -->
                   <img src="{% static "featurette-3-couple.jpg" %}" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" height="500px">
                </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7 order-md-2">
                    <h2 class="featurette-heading fw-normal lh-1">Randka czy tylko spacer z psem? <span class="text-muted">Decyzja należy do Ciebie.</span>
                    </h2>
                    <p class="lead">Masz dość nudnych spacerów? Spotkaj się z innymi osobami, które czują się tak samo, jak Ty. Wasze wspólne spacery nigdy
                    nie będą nudne i monotonne.</p>
                </div>
                <div class="col-md-5 order-md-1">
                    <!-- SVG PLACEHOLDER
                    <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                         height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500"
                         preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title>
                        <rect width="100%" height="100%" fill="#eee"/>
                        <text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text>
                    </svg> -->
                   <img src="{% static "featurette-2-couple.jpg" %}" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" height="500px">
                </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading fw-normal lh-1">Wyjeżdżasz? <span class="text-muted">A co z pieskiem?</span>
                    </h2>
                    <p class="lead">W serwisie znajdziesz użytkowników, którzy chętnie zajmą się Twoim psiakiem na czas Twojej nieobecności.
                    A może po prostu masz kaca i nie masz ochoty wychodzić z domu? W Psiner na pewno znajdziesz chętnego na poranny spacer z Twoim pupilem.</p>
                </div>
                <div class="col-md-5">
                    <!-- SVG PLACEHOLDER
                    <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                         height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500"
                         preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title>
                        <rect width="100%" height="100%" fill="#eee"/>
                        <text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text>
                    </svg> -->
                   <img src="{% static "featurette-1-dog.jpg" %}" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" height="500px">
                </div>
            </div>

            <hr class="featurette-divider">

            <!-- /END THE FEATURETTES -->

        </div><!-- /.container -->
    </div>
{% endblock content %}