{% extends "dating/dashboard.html" %}

{% block head %}
    Szczegóły spotkania
{% endblock head %}

{% block content %}
    <h3>{{ meeting.date }} {{ meeting.time }}</h3>
    <h6>Lokalizacja: {{ meeting.address }}</h6>
    <p>Spotkanie utworzył użytkownik: {{ meeting.created_by.username }}</p>
    <p>Liczba uczestników: {{ meeting.get_meeting_users_count }} / {{ meeting.max_users }}</p>
    <p>Uczestnicy spotkania: {{ meeting.participating_users.all|join:", " }}</p>
    <p>Liczba piesków: {{ meeting.get_meeting_dogs_count }} / {{ meeting.max_dogs }}</p>
    <p>Pieski: {{ meeting.participating_dogs.all|join:", " }}</p>
    <p>Opis: {{ meeting.notes }}</p>

    {% if user != meeting.created_by and meeting.get_meeting_users_count < meeting.max_users %}
        <a href="{% url "join-meeting" meeting.pk %}">
            <button type="button" class="btn btn-primary">Dołącz</button>
        </a>
    {% endif %}

    {% if user == meeting.created_by %}
        <a href="{% url "edit-meeting" meeting.pk %}">
            <button type="button" class="btn btn-info">Edytuj</button>
        </a>
        <a href="{% url "delete-meeting" meeting.pk %}">
            <button type="button" class="btn btn-danger">Usuń</button>
        </a>
    {% endif %}

    <a href="{% url "meetings" %}">
        <button type="button" class="btn btn-secondary">Powrót</button>
    </a>
{% endblock content %}