{% extends "dating/dashboard.html" %}

{% block head %}
    Spotkania
{% endblock head %}

{% block content %}
    <h3>Moje Spotkania</h3>
        {% for meeting in meetings %}
            <div class="card mt-3">
                <h5 class="card-header">{{ meeting.date|date:"SHORT_DATE_FORMAT" }} {{ meeting.time|time:"H:i" }}</h5>
                <div class="card-body">
                    <h5 class="card-title">{{ meeting.address }}</h5>
                    <p class="card-text">{{ meeting.notes }}</p>
                    <p class="card-text">Spotkanie z: {{ meeting.participating_users.all|join:", " }}</p>
                    <p class="card-text">Pieski: {{ meeting.participating_dogs.all|join:", " }}</p>
                    <a href="{% url "meeting" meeting.pk %}" class="btn btn-primary">Szczegóły</a>
                </div>
            </div>
        {% empty %}
            <li>
                Nie masz jeszcze żadnych spotkań :(
            </li>
        {% endfor %}
    <a href="{% url "add-meeting" %}" class="btn btn-primary my-3">Dodaj spotkanie</a>
    <a href="{% url "search-meetings" %}" class="btn btn-light">Wyszukaj spotkanie</a>
{% endblock content %}