{% extends "dating/dashboard.html" %}
{% load crispy_forms_tags %}

{% block head %}
    Ustawienia profilu
{% endblock head %}

{% block content %}
    <h3>Ustawienia profilu</h3>
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% crispy form %}
    </form>
    <a href="{% url "dashboard" %}" class="btn btn-secondary">Powrót</a>
    <h3>Dane adresowe</h3>
    <ul>
        <li>Miasto: {{ user.address.city }}</li>
        <li>Kod pocztowy: {{ user.address.post_code }}</li>
        <li>Ulica i numer: {{ user.address.street }}</li>
    </ul>
    <a href="{% url "change-address" user.pk %}" class="btn btn-light">Dodaj/zmień adres</a>
    <a href="{% url "change-password" user.pk %}" class="btn btn-light">Zmień hasło</a>
{% endblock content %}