{% extends "dating/dashboard.html" %}

{% block head %}
    Ustawienia profilu
{% endblock head %}

{% block content %}
    <h3>Ustawienia profilu</h3>
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Zapisz zmiany</button>
    </form>
    <h3>Dane adresowe</h3>
    <ul>
        <li>Miasto: {{ user.address.city }}</li>
        <li>Kod pocztowy: {{ user.address.post_code }}</li>
        <li>Ulica i numer: {{ user.address.street }}</li>
    </ul>
    <a href="{% url "change-address" user.pk %}">Dodaj/zmień adres</a>
    <a href="{% url "change-password" user.pk %}">Zmień hasło</a>
{% endblock content %}