{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>{% block head %} Strona główna {% endblock head %} | Psinder</title>
</head>
<body>
<nav>
    <div>
        <a href="{% url "home-page" %}">
            <img src="{% static "logo.png" %}" alt="logo" height="100px">
        </a>

    </div>
    <ul>
        <li>
            <a href="{% url "about-app" %}">O aplikacji</a>
        </li>
        {% if user.is_anonymous %}
            <li>
                <a href="{% url "login" %}">Zaloguj się</a>
            </li>
            <li>
            <a href="{% url "register" %}">Rejestracja</a>
            </li>
        {% else %}
            <li>
                <a href="">Wyloguj</a>
            </li>
        {% endif %}
        <li>
            <a href="">FAQ</a>
        </li>
        <li>
            <a href="">Kontakt</a>
        </li>
    </ul>
</nav>

{% block content %}
{% endblock content %}

<footer>
    {% if user %}
        <p>Aktualnie zalogowany użytkownik: {{ user.username }}</p>
    {% endif %}
    <p>Autor aplikacji: Siedlerski</p>
</footer>
</body>
</html>