{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>{% block head %} Strona główna {% endblock head %} | Psinder</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>

</head>
<body>

<!--- NAVIGATION SECTION --->
<nav>
    <div>
        <a href="{% url "home-page" %}">
            <img src="{% static "logo.png" %}" alt="logo" height="100px">
        </a>

    </div>
    <ul>
        <li>
            <a href="{% url "about-app" %}">O aplikacji</a>
        </li>
        {% if user.is_anonymous %}
            <li>
                <a href="{% url "login" %}">Zaloguj się</a>
            </li>
            <li>
            <a href="{% url "register" %}">Rejestracja</a>
            </li>
        {% else %}
            <li>
                <a href="{% url "logout" %}">Wyloguj</a>
            </li>
        {% endif %}
        <li>
            <a href="">FAQ</a>
        </li>
        <li>
            <a href="">Kontakt</a>
        </li>
    </ul>
</nav>
<!--- END OF NAVIGATION SECTION --->

<p>Dołącz do grona {{ user_profiles_count }} użytkowników i {{ dog_profiles_count }} psiaków i zarejestruj się w Psinder już dziś!</p>

{% block content %}
{% endblock content %}

<!--- FOOTER SECTION --->
<footer>
    {% if not user.is_anonymous %}
        <p>Aktualnie zalogowany użytkownik: {{ user.username }}</p>
    {% endif %}
    <p>Autor aplikacji: Siedlerski</p>
</footer>
<!--- END OF FOOTER SECTION --->
</body>
</html>