{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>{% block head %} Strona główna {% endblock head %} | Psinder</title>
</head>
<body>
<nav>
    <div>
        <a href="{% url "home-page" %}">
            <img src="{% static "logo.png" %}" alt="logo" height="100px">
        </a>

    </div>
    <ul>
        <li>
            <a href="{% url "about-app" %}">O aplikacji</a>
        </li>
        <li>
            <a href="">Rejestracja</a>
        </li>
        <li>
            <a href="">Logowanie</a>
        </li>
        <li>
            <a href="">FAQ</a>
        </li>
        <li>
            <a href="">Kontakt</a>
        </li>
    </ul>
</nav>

{% block content %}
{% endblock content %}

<footer>
    <p>Autor: siedler</p>
</footer>
</body>
</html>