{% extends "base.html" %}

{% block head %}
    Centrum wiadomości
{% endblock head %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h3>Centrum wiadomości</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 my-3">
            <form method="GET" action="{% url "create-thread" %}">
                <button class="btn btn-light" type="submit">Nowa konwersacja</button>
            </form>
        </div>
    </div>

{% for thread in threads.all %}
    <div class="row mb-3">
        <div class="card col-md-12 p-5 shadow-sm">
            <h5>{{ thread.sender }} - {{ thread.recipient }}</h5>
            {% if thread.unread_messages.count > 0 and user.pk not in thread.unread_messages_sender %}
                <p>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
                      <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z"/>
                    </svg>
                    Nowe wiadomości: {{ thread.unread_messages.count }}
                </p>
            {% endif %}
            <a class="stretched-link" href="{% url "thread" thread.pk %}"></a>
        </div>
    </div>
{% endfor %}
{% endblock content %}